{% extends "base.html" %}

{% set page_title = 'About' %}

{% block content %}
<h1 style = "position:relative; left:10px">University library</h1>
<br>
<h2 style = "position:relative; left:10px">This is an University Library, Project by Artsrun Arshakyan, for ACA</h2>
<nav style="background-color: Tomato; display: flex">
    <div>
        <p style="position:relative; left:10px; color:yellow">Library operating hours</p>
        <p style="position:relative; left:10px; color:yellow">Monday to Friday</p>
        <p style="position:relative; left:10px; color:yellow">9AM - 6PM</p>
    </div>
</nav>
<br>
<h4 style="position:relative; left:10px">Find us online</h4>
<a style="position:relative; left:10px" href="https://www.instagram.com/artsrunarshakyan/">Instagram</a>
<a style="position:relative; left:10px" href="https://m.facebook.com/p/Artsrun-Arshakyan-100077580663266/">Facebook</a>
{% endblock %}
