{% extends "base.html" %}

{% set page_title = 'Books-Details' %}

{% block content %}
    <br>
    <div  style="position:relative; left:10px">
        <a href='/books' class="btn btn-primary" role="button">Back to Books</a>
        <h2 style= color:red>Book details</h2>
        {% if user.role == 'admin' %}
                <h4>ID: {{ book.id }}</h4>
        {% endif %}
        <h4>Book name: {{ book.book_name }}</h4>
        <h4>Author name: {{ book.author_name }}</h4>
        <h4>Release year: {{ book.release_year }}</h4>

        {% if user.role == 'admin' %}
            <h4>Book copies: {{ book.book_copy }}</h4>
        {% endif %}
    </div>


    {% if user.role == 'admin' %}
        <form style="position:relative; left:10px" method="post" action="/book_update">
            <input type="hidden" name="book_update_id" value="{{ book.id }}">
            <input type="text" name="new_book_name" placeholder="New Book Name" required>
            <input type="text" name="author_name" placeholder="New Author Name" required>
            <input type="text" name="new_release_year" placeholder="New Release Year" required>
            <button class="btn btn-success" type="submit">Update</button>
        </form>


        <form style="position:relative; left:10px" method="post" action="/delete-book">
            <input type="hidden" name="book_id" value="{{ book.id }}">
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
    {% endif %}


{% endblock %}
