{% extends "base.html" %}
{% from "macros.html" import error_display with context %}

{% set page_title = 'Register' %}

{% block content %}
<br>
<a href='/our-students' class="btn btn-primary" role="button" style="position:relative; left:10px">Back to Students</a>

<form style = "position:relative; left:10px" method="POST">
    {{ form.csrf_token }}

    <div class="mb-4" style="width: 400px;">
        <label for="username" class="form-label">Username: </label>
        <input type="text"
               class="form-control"
               {% if form.username.data %}
                value="{{ form.username.data }}"
               {% endif %}
               id="username"
               name="username"
               required
        >
        {{ error_display(form.username.errors) }}
    </div>

        <div class="mb-4" style="width: 400px;">
        <label for="password" class="form-label">Password: </label>
        <input type="password"
               class="form-control"
               {% if form.password.data %}
                value="{{ form.password.data }}"
               {% endif %}
               id="password"
               name="password"
               required
        >
        {{ error_display(form.password.errors) }}
    </div>

    </div>

        <div class="mb-4" style="width: 400px;">
        <label for="repeat_password" class="form-label">Repeat password: </label>
        <input type="password"
               class="form-control"
               {% if form.repeat_password.data %}
                value="{{ form.repeat_password.data }}"
               {% endif %}
               id="repeat_password"
               name="repeat_password"
               required
        >
        {{ error_display(form.repeat_password.errors) }}
    </div>

    <div class="mb-4" style="width: 400px;">
        <label for="full_name" class="form-label">Full Name: </label>
        <input type="text"
               class="form-control"
               {% if form.full_name.data %}
                value="{{ form.full_name.data }}"
               {% endif %}
               id="full_name"
               name="full_name"
               required
        >
        {{ error_display(form.full_name.errors) }}
    </div>

    <div class="mb-4" style="width: 400px;">
        <label for="email" class="form-label">Email: </label>
        <input type="email"
               class="form-control"
               {% if form.email.data %}
                value="{{ form.email.data }}"
               {% endif %}
               id="email"
               name="email"
               required
        >
        {{ error_display(form.email.errors) }}
    </div>

    <div class="mb-4" style="width: 400px;">
    <label for="role" class="form-label">Role: </label>
    <select class="form-select" id="role" name="role" required>
        <option value="student" {% if form.role.data == "student" %}selected{% endif %}>Student</option>
        <option value="admin" {% if form.role.data == "admin" %}selected{% endif %}>Admin</option>
    </select>
    {{ error_display(form.role.errors) }}
</div>

    <input class="btn btn-success" type="submit" value="Register">
</form>
{% endblock %}
