{% extends "base.html" %}

{% set page_title = 'Student-Details' %}

{% block content %}
    <br>
    <div style="position:relative; left:10px">
        <a href='/our-students' class="btn btn-primary" role="button">Back to Students</a>
        <h2 style=color:red>Student details</h2>
        {% if user.role == 'admin' %}
            <h4>ID: {{ user.id }}</h4>
        {% endif %}
        <h4>Username: {{ user.username }}</h4>
        <h4>Name: {{ user.full_name }}</h4>
        <h4>Email: {{ user.email }}</h4>
    </div>


    {% if user.role == 'admin' %}

        <form style="position:relative; left:10px" method="post" action="/user_update">
            <input type="hidden" name="user_update_id" value="{{ user.id }}">
            <input type="text" name="new_full_name" placeholder="New Full Name" required>
            <input type="text" name="new_username" placeholder="New Username" required>
            <input type="text" name="new_email" placeholder="New Email" required>
            <button class="btn btn-success" type="submit">Update</button>
        </form>

        <form style="position:relative; left:10px" method="post" action="delete-user">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
    {% endif %}

{% endblock %}
