{% extends "base.html" %}
{% from "macros.html" import error_display with context %}

{% set page_title = 'Change Password' %}

{% block content %}
  <h3>Change Password</h3>
  <form style = "position:relative; left:10px" method="POST">
    {{ change_password_form.csrf_token }}
    {{ error_display(change_password_form.errors) }}

    <div class="mb-4" style="width: 400px;">
      <label for="username" class="form-label">Username:</label>
      {{ change_password_form.username(class="form-control") }}
      {{ error_display(change_password_form.username.errors) }}
    </div>

    <div class="mb-4" style="width: 400px;">
      <label for="current_password" class="form-label">Current Password:</label>
      {{ change_password_form.current_password(class="form-control") }}
      {{ error_display(change_password_form.current_password.errors) }}
    </div>

    <div class="mb-4" style="width: 400px;">
      <label for="new_password" class="form-label">New Password:</label>
      {{ change_password_form.new_password(class="form-control") }}
      {{ error_display(change_password_form.new_password.errors) }}
    </div>

    <div class="mb-4" style="width: 400px;">
      <label for="confirm_password" class="form-label">Confirm Password:</label>
      {{ change_password_form.confirm_password(class="form-control") }}
      {{ error_display(change_password_form.confirm_password.errors) }}
    </div>

    <input class="btn btn-success" type="submit" value="Change Password">
  </form>

{% endblock %}

