<nav class=menu>
    <h1 style= "position:relative; left:10px; font-family:verdana">Welcome to University Library</h1>

    <div style="position:relative; left:350px; top:10px" class="d-grid gap-2 d-md-flex justify-content-md-end">

            <a href="/" class="btn btn-warning me-md-2" style="--bs-btn-padding-y: .25em; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Home</a>
            <a href="/about" class="btn btn-warning me-md-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">About Us</a>
            <a href="/books" class="btn btn-warning me-md-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Books</a>
            <a href="/photos" class="btn btn-warning me-md-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Photo</a>
            {% if user %}
                <a href="/our-students" class="btn btn-warning me-md-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Our Students</a>
            {% endif %}

            {% if not user %}
                <a href="/login" class="btn btn-warning me-md-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Login</a>
            {% else %}
                {{ user.full_name }}
                <a href="/logout" class="btn btn-warning me-md-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Logout</a>
            {% endif %}
    </div>
</nav>
